.spinner {
  width: 50%;
  background-color: white;
  border-radius: 10px;
  margin: auto;

  span {
    display: block;
    text-align: center;
  }

  mat-spinner, span {
    margin: auto;
  }
}
@media screen and (min-width: 320px ) and (max-width:768px) {
  .spinner {
    width: 100%;
  }
}
