$sizeButton: 100px;

table, mat-paginator, mat-paginator {
  width: 50%;
  margin: auto;
}
@media screen and (min-width: 320px ) and (max-width:768px) {
  table, mat-paginator, mat-paginator {
    width: 100%;
  }
}

td, th {
  padding: 10px !important;
}

th, tr:hover {
  background-color: #c3c5ff !important;
}

tr:active {
  background-color: #557ccc !important;
}

mat-paginator {
  background-color: #FDDAA5 !important;
  border-radius: 20px !important;
}

.textRight {
  text-align: right;
}

.textLeft {
  text-align: left;
}

