<div *ngIf="showTable">
  <div *ngIf="loading">
    <app-loading></app-loading>
  </div>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="!loading">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"><mat-checkbox></mat-checkbox></td>
    </ng-container>

    <ng-container matColumnDef="date_bookmark">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element; let i = index" (click)="getRowId(i)">{{element.date_bookmark}}</td>
    </ng-container>

    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td mat-cell *matCellDef="let element; let i = index" (click)="getRowId(i)"> {{element.tag}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index" [ngStyle]="{'background-color':
  getColor(i) == 1 ?'#FCB2AC' : getColor(i) == 2 ? '#F9F9AE' : '#CBFFBD'}"></tr>

  </table><br>
</div>

<app-bookmark *ngIf="bookmarkShow" [rowId]="rowId"></app-bookmark>

<app-paginator *ngIf="showPaginator" (onChanged)="onChanged($event)" [pageEventParent]="pageEvent"></app-paginator><br>

<app-add-bookmark *ngIf="showAddBookMark" (onChanged)="onChangedForButtonOk($event)" [pageEventParent]="pageEvent"></app-add-bookmark>

<app-prompt *ngIf="showPrompt" [rowId]="rowId" [titlePrompt]="titlePrompt"></app-prompt>

<div class="buttonPosition">
  <button mat-raised-button *ngIf="showAddBookMarkButton" (click)="addBookMark()">
    <img class="imgButton" src="../assets/images/add.svg" alt="">
  </button>
  <button mat-raised-button *ngIf="backButton" (click)="back()">
    <img class="imgButton" src="../assets/images/back.svg" alt="">
  </button>
  <button mat-raised-button *ngIf="bookmarkShow">
    <img class="imgButton" src="../assets/images/edit.svg" alt="">
  </button>
  <button mat-raised-button *ngIf="deleteButton" (click)="onDelete()">
    <img class="imgButton" src="../assets/images/delete.svg" alt="">
  </button>
</div>
